*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background-color: #111;
}


.card{
  /* width: 400px;  */
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(14, 196, 38, 0.425);
  
}
.parent{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 40px;
  gap: 20px;
}
.card button{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
}
.card p{
  margin: 20px 0;
}
.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}