*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
/* html,body{
  height: 100px;
  width: 100px;
} */
body{
  background-color: black;
  
}
.card{
  background-color: rgb(168, 22, 49);
  border-radius: 10px;
  margin: 20px;
  padding: 25px;
}