.header{
    margin: 10px;
    border: 2px solid white;
    padding: 5px;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 
.btn{
    background-color: rgb(187, 255, 0);
    border-radius: 5px;
    padding: 5px;
}
